name: Main Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'tutorial/**'
      - '**.md'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      - name: Build (compile, package)
        run: ./gradlew build

      - name: Upload build artifact
        uses: actions/upload-artifact@v5
        with:
          name: build-artifacts
          path: build/**

  unit-test:
    if: false
    name: unit-test
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      - name: Download build artifact from build job
        uses: actions/download-artifact@v5
        with:
          name: build-artifacts
          path: build

      - name: Run unit tests
        run: ./gradlew test --no-daemon

  integration-test:
    if: false
    name: integration-test
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      - name: Download build artifact from build job
        uses: actions/download-artifact@v5
        with:
          name: build-artifacts
          path: build

      - name: Run integration tests
        run: ./gradlew integrationTest --no-daemon
