name: Main Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      - name: Build (compile, package) without running tests
        run: ./gradlew clean assemble -x test -x integrationTest --no-daemon

      - name: Upload build artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: build/**

  unit-test:
    name: unit-test
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      - name: Download build artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: build-artifacts
          path: build

      - name: Run unit tests
        run: ./gradlew test --no-daemon

  integration-test:
    name: integration-test
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      - name: Download build artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: build-artifacts
          path: build

      - name: Run integration tests
        run: ./gradlew integrationTest --no-daemon
